<a href="https://colab.research.google.com/github/vicpb/machine-learning-introd-sis-recomen-em-python-alura/blob/main/Introducao_a_Recomendacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

filmes = pd.read_csv('movies.csv')
filmes.columns = ["filmeId", "titulo", "generos"]
filmes = filmes.set_index("filmeId")
filmes.head()

                                     titulo                                      generos
filmeId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [4]:
notas = pd.read_csv('ratings.csv')
notas.columns = ["usuarioId","filmeId", "nota", "momento"]
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [6]:
notas.describe()

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

#Primeira tentativa de recomendação: heurística de total de votos

In [12]:
total_de_votos = notas['filmeId'].value_counts()
total_de_votos.head()

356     329
318     317
296     307
593     279
2571    278
Name: filmeId, dtype: int64

In [13]:
filmes['total_de_votos'] = total_de_votos
filmes.head()

                                     titulo  ... total_de_votos
filmeId                                      ...
1                          Toy Story (1995)  ...          215.0
2                            Jumanji (1995)  ...          110.0
3                   Grumpier Old Men (1995)  ...           52.0
4                  Waiting to Exhale (1995)  ...            7.0
5        Father of the Bride Part II (1995)  ...           49.0

[5 rows x 3 columns]

In [18]:
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... total_de_votos
filmeId                                             ...
356                            Forrest Gump (1994)  ...          329.0
318               Shawshank Redemption, The (1994)  ...          317.0
296                            Pulp Fiction (1994)  ...          307.0
593               Silence of the Lambs, The (1991)  ...          279.0
2571                            Matrix, The (1999)  ...          278.0
260      Star Wars: Episode IV - A New Hope (1977)  ...          251.0
480                           Jurassic Park (1993)  ...          238.0
110                              Braveheart (1995)  ...          237.0
589              Terminator 2: Judgment Day (1991)  ...          224.0
527                        Schindler's List (1993)  ...          220.0

[10 rows x 3 columns]

In [22]:
notas_medias = notas.groupby("filmeId").mean()["nota"]
notas_medias.head()

filmeId
1    3.920930
2    3.431818
3    3.259615
4    2.357143
5    3.071429
Name: nota, dtype: float64

In [23]:
filmes["nota_media"] = notas_medias
filmes.sort_values("total_de_votos", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
356                            Forrest Gump (1994)  ...   4.164134
318               Shawshank Redemption, The (1994)  ...   4.429022
296                            Pulp Fiction (1994)  ...   4.197068
593               Silence of the Lambs, The (1991)  ...   4.161290
2571                            Matrix, The (1999)  ...   4.192446
260      Star Wars: Episode IV - A New Hope (1977)  ...   4.231076
480                           Jurassic Park (1993)  ...   3.750000
110                              Braveheart (1995)  ...   4.031646
589              Terminator 2: Judgment Day (1991)  ...   3.970982
527                        Schindler's List (1993)  ...   4.225000

[10 rows x 4 columns]

# Uma segunda heurística: nota média e filtrando votos

In [24]:
filmes.sort_values("nota_media", ascending = False).head(10)

                                            titulo  ... nota_media
filmeId                                             ...
88448        Paper Birds (Pájaros de papel) (2010)  ...        5.0
100556                  Act of Killing, The (2012)  ...        5.0
143031                             Jump In! (2007)  ...        5.0
143511                                Human (2015)  ...        5.0
143559                         L.A. Slasher (2015)  ...        5.0
6201                              Lady Jane (1986)  ...        5.0
102217              Bill Hicks: Revelations (1993)  ...        5.0
102084                Justice League: Doom (2012)   ...        5.0
6192     Open Hearts (Elsker dig for evigt) (2002)  ...        5.0
145994                      Formula of Love (1984)  ...        5.0

[10 rows x 4 columns]

In [26]:
filmes.query("total_de_votos >= 10").sort_values("nota_media", ascending = False).head(10)

                                        titulo  ... nota_media
filmeId                                         ...
1041                     Secrets & Lies (1996)  ...   4.590909
3451       Guess Who's Coming to Dinner (1967)  ...   4.545455
1178                     Paths of Glory (1957)  ...   4.541667
1104          Streetcar Named Desire, A (1951)  ...   4.475000
2360          Celebration, The (Festen) (1998)  ...   4.458333
1217                                Ran (1985)  ...   4.433333
318           Shawshank Redemption, The (1994)  ...   4.429022
951                     His Girl Friday (1940)  ...   4.392857
1927     All Quiet on the Western Front (1930)  ...   4.350000
3468                       Hustler, The (1961)  ...   4.333333

[10 rows x 4 columns]

In [27]:
filmes_com_mais_de_50_votos = filmes.query("total_de_votos >= 50")
filmes_com_mais_de_50_votos.sort_values("nota_media", ascending = False).head(10)

                                                    titulo  ... nota_media
filmeId                                                     ...
318                       Shawshank Redemption, The (1994)  ...   4.429022
858                                  Godfather, The (1972)  ...   4.289062
2959                                     Fight Club (1999)  ...   4.272936
1276                                 Cool Hand Luke (1967)  ...   4.271930
750      Dr. Strangelove or: How I Learned to Stop Worr...  ...   4.268041
904                                     Rear Window (1954)  ...   4.261905
1221                        Godfather: Part II, The (1974)  ...   4.259690
48516                                 Departed, The (2006)  ...   4.252336
1213                                     Goodfellas (1990)  ...   4.250000
912                                      Casablanca (1942)  ...   4.240000

[10 rows x 4 columns]